<div class="container">

  <div>
    <h3 class="searchQuery">Search: </h3>
    <input class="searchQuery" ng-model="searchQuery">
    <h3 class="filter">Filter by:</h3>
    <select>
      <option>All</option>
      <option>Mineral</option>
      <option>Meteorite</option>
      <option>Rock</option>
    </select>
        <h3 class="sort">Sort by:</h3>
    <select>
      <option>- Select Sort -</option>
      <option>Price</option>
      <option>Meteorite</option>
      <option>Rock</option>
    </select>
  </div>

	<div class="row">
		<div class="col-md-4" ng-repeat="product in products | filter:searchQuery">

    

      <div class="thumbnail">
        <img class="thumbnail-image" src="{{product.pictureURL}}" alt="" ng-click=detail(product)>
        <div class="caption">
          <h4 class="pull-right">{{product.displayPrice}}</h4>
          <h4><a href="#" ng-click=detail(product)>{{product.name}}</a></h4>
          <!-- <p>{{product.snippet}}</p> -->

          <button class="btn btn-primary btn-lg" id="detailbtn" ng-click=detail(product)>Detail</button>
          <button class="btn btn-primary btn-lg" id="minebtn" ui-sref="#"> Mine It! ⚒ </button>

        </div>
        <!-- <span class="modalWindow">
          Location: {{product.location}}<br>
          Rarity: 💎 {{product.rarity}}<br>    
          <p>{{reviews.length}} Reviews: 
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </p>
          <button class="btn btn-primary btn-xs">Detail</button>
          
        </span> -->
      </div>
    </div>
	</div>
</div>


