<div class="myaccount">
  <div id="tabs" ng-controller="TabsCtrl">
    <ul>
      <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" class="havePointer">{{tab.title}}</li>
    </ul>
    <div id="mainView">
      <div ng-include="currentTab"></div>
    </div>
  </div>
  <script type="text/ng-template" id="aboutYou">
    <div id="viewOne">
      <h2>My Account</h2>
      <ul><h4>Username</h4></ul>
      <ul><h4>Email</h4></ul>
      <ul><h4>ETC</h4></ul>
    </div>
  </script>

  <script type="text/ng-template" id="pastOrders">
    <div>
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>Details</th>
                <th>Order ID #</th>
                <th>Date</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody ng-repeat="order in pastOrders">
                <tr>
                    <td>
                        <button ng-click="expanded = !expanded ; getCartById(order.id)" class="btn"expand>
                            <span ng-bind="expanded ? '-' : '+'"></span>
                        </button>
                    </td>
                    <td ng-bind="order.id"></td>
                    <td ng-bind="order.createdAt.slice(0,10)"></td>
                    <td ng-bind="'$' + order.price"></td>
                </tr>
                <tr ng-show="expanded">
                    <td></td>
                    <td colspan="6">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:15%;">Item</th>
                                    <th style="width:15%;">Name</th>
                                    <th style="width:15%;">Quantity</th>
                                    <th style="width:15%;">Category</th>
                                    <th style="width:15%;">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in order.details.products">
                                    <td><img 
                                    src="{{product.pictureURL}}"
                                    style="width:128px;height:128px;"></td>
                                    <td style="width:15%;" ng-bind="product.name"></td>
                                    <td style="width:15%;" ng-bind="1"></td>
                                    <td style="width:15%;" ng-bind="product.category"></td>
                                    <td style="width:15%;" ng-bind="'$' + product.price"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
        </tbody>
    </table>
    </div>
  </script>

  <script type="text/ng-template" id="settings">
    <div id="viewThree">
      <h2>Settings</h2>
      <p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
    </div>
  </script>
</div>