<div class="container">
  <div class="row">
  	<div class="col-md-6">
    
          <form class="form-horizontal" action="" method="POST" name="signupform">
          <fieldset>


            <legend class="">Register</legend>
            <!-- <div class="control-group"> -->

              <label class="control-label">Username</label>
              <!-- <div class="controls"> -->
                <input type="text" class="form-control input-lg" ng-model="user.name" name="nameField" required />
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              <!-- </div> -->
            <!-- </div> -->
         
            <!-- <div class="control-group"> -->
              <label class="control-label">E-mail</label>
              <div class="controls">
                <input type="email" class="form-control input-lg" ng-model="user.email" name="emailField" required />
                <p class="help-block">Please provide your E-mail</p>
              </div>
            <!-- </div> -->
         
            <!-- <div class="control-group"> -->
              <label class="control-label">Password</label>
              <div class="controls">
                <input type="password" class="form-control input-lg" ng-model="user.password" required />
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            <!-- </div> -->
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success">Register</button>
              </div>
            </div>
          </fieldset>
        </form>
    
    </div> 
  </div>
<div class="or buffer">
    <div class="back-line"><span>OR</span></div>
  </div>
  <div class="buffer oauth">
    <p><oauth-button provider-name="Google"></oauth-button></p>
    <p><oauth-button provider-name="Twitter"></oauth-button></p>
    <p><oauth-button provider-name="GitHub"></oauth-button></p>
  </div>
</div>

