<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
	<h1 class="product-name">{{product.name}}</h1>
	<!-- <h4><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"> -->
	<h4> {{reviews.length}} reviews</h4>
	<h4>{{avgStars(avgReviews)}}</h4>
	<h4>Category - {{product.category}}</h4>
	<h4>Rarity - {{rarity(product.rarity)}}</h4>
	<h2>{{product.displayPrice}}</h2>

	<hr class="product-hr">

	<div class="row">
		<div class="col-md-5 image">
			<img class="product-img" src="{{product.pictureURL}}">
		</div>

		<div class="col-md-7 product-body">
			
			<p class=""><h4>About {{product.name}}</h4><br>
			{{product.description}}</p>
			<hr>
			<h3 class="stock-status" ng-show="product.stocks >= 1">In Stock</h3>
			<p>{{product.stocks}} stocks left</p>
			<button class="btn btn-primary" id="minebtn" ng-click="addToCart(product)" ng-hide="product.stocks <= 0"> Mine It! ⚒ </button>
			<button class="btn btn-primary" id="outofstock" ng-disabled="true" ng-show="product.stocks <= 0"> Out of Stock </button>
			<button class="btn btn-info" ng-click="openReviewCreate()">Write a review</button>
		</div>
	</div>
	<br>
	<div class="row">

		<li ng-repeat="n in [].constructor(maxRating) track by $index">
			{{n}}
		</li>
		
		<div class="reviews">
			<br>
			<form name="reviewForm" ng-if="isWritingAReview" ng-submit="createAReview(reviewContent, ratedBy)" novalidate>
			<label for="reviewText">Write your review!</label>
			<br>
				Rating - <ul class="rating">
            <li ng-repeat="n in [].constructor(maxRating) track by $index">
                <span ng-mouseover="rateBy($index+1)" ng-show="ratedBy > $index" class="filled">&#9733;</span>
                <span ng-mouseover="rateBy($index+1)" ng-show="ratedBy <= $index">&#9733;</span>
            </li>
        </ul>


				<!-- how do we get stars from clicking on the stars -->
				
				<textarea 
				class="form-control review-text" 
				name="reviewText" 
				ng-model="reviewContent" 
				ng-minlength="10" 
				placeholder="Review must be at least 10 characters long."
				required></textarea>
				<button 
				class="btn btn-primary"
				style="margin-top:5px"
				ng-disabled="reviewForm.reviewText.$invalid">Submit</button>
			</form>
			<hr ng-show="isWritingAReview">
			<h4 ng-show="reviews.length"><b><u>Reviews</u></b> <br>Avg: {{avgReviews}} ({{reviews.length}} reviews)</h4>

			<!-- ng-repeat="review in reviews" -->
			<div class="product-rating" ng-repeat="review in reviews">
				<div class="container">
					<div class="row review-row">
						<div class="col-md-10">
							<!-- <b>User ID: {{review.user.id}}</b> -->
							<b>User-email: {{review.user.email}}</b>
							<br>
							<ul class="rating" >
			          <li ng-repeat="n in [].constructor(maxRating) track by $index">
			            <span 
			              class="filled" 
			              ng-show="$index <= review.stars-1">&#9733;</span>
	                <span 
	               		ng-show="$index > review.stars-1">&#9733;</span>
			          </li>
			        </ul>
							<p>{{review.reviewContent}}</p>
							<p><i>Last updated: {{review.updatedAt.slice(0,10) + " @ " + review.updatedAt.slice(11,-5)}}</i></p>
							<button class="btn btn-sm btn-success" ng-click="editReview(review)">Edit</button>
							<button class="btn btn-sm btn-warning" ng-click="deleteReview(review)">Delete</button>
						</div>
					</div>
				</div>
			</div>
			<!-- ng-repeat ends -->

		</div>
	</div>
</div>

